body {
	width: 30%;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	padding: 5px;
}

tr > :first-child {
	font-weight: bold;
	text-align: center;
}

#city {
	width: 50%;
}

#state {
	width: 20%;
}

tbody :nth-child(7) :nth-child(2) :nth-child(1){
	width: 20%;
}

tbody :nth-child(7) :nth-child(2) :nth-child(2), :nth-child(3){
	width: 30%;
}

tbody > :last-child {
	background-color: SkyBlue;
}